certifi==2024.2.2
dbt-snowflake==1.10.2
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
platformdirs==4.2.0
# pre-commit==3.7.0 -- pre-commit is optional; Check the details under the article
pygments==2.17.2
python-dateutil==2.9.0.post0
# Optional if folks want Snowflake CLI locally too:
snowflake-cli-labs>=3.11.0
sqlfluff==3.4.2
sqlfluff-templater-dbt==3.4.2
